html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
p {
  margin: 0;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}
.section {
  padding-top: 100px;
}
.section-title {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.section-uptitle {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #0057ff;
}
.button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 30px;
  padding: 12px 8px;
  cursor: pointer;
  border: none;
}
.button-first {
  background: #0057ff;
  border: 2px solid #0057ff;
  &:hover {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  &:active {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
  }
}
.button-second {
  background: #ffa332;
  border: 2px solid #ffa332;
  &:hover {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  &:active {
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.5);
    border: 2px solid #000;
  }
}
.logo {
  padding: 0;
}
.menu {
  padding: 0;
  &__list {
    &-item {
      margin-left: 30px;
      &:first-child {
        margin-left: 50px;
      }
    }
    &-link {
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      &:hover {
        color: #000;
        text-decoration: underline;
      }
      &:active {
        text-decoration: underline;
        color: #0057ff;
      }
    }
  }
}
.menu-mobile {
  height: 25px;
  width: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  &__line {
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  &--active {
    position: relative;
    z-index: 25;
    width: 30px;
    height: 30px;
    transition: all 0.01s;
    .menu-mobile__line {
      &:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: -1px 8px;
      }
      &:nth-of-type(2) {
        display: none;
      }
      &:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: -2px -6px;
      }
    }
  }
}
.star {
  background: url("../images/star-icon.svg") no-repeat;
  background-position: center;
  background-size: cover;
  width: 18px;
  height: 18px;
}
