@include media-breakpoint-down(xxl) {
}
@include media-breakpoint-down(xl) {
  .hero {
    &__title {
      font-size: 50px;
      line-height: 60px;
    }
    &__image {
      position: relative;
      padding: 0;
      &::before {
        width: 75px;
        height: 75px;
        top: 25%;
        left: 13%;
      }
      &::after {
        width: 200px;
        height: 200px;
        bottom: 9%;
        right: -4%;
      }
    }
    &__img {
      width: 450px;
      height: 500px;
    }
  }
  .questions {
    padding: 150px 0 30px;
    &__img {
      width: 400px;
      height: 550px;
    }
  }
}
@include media-breakpoint-down(lg) {
  .section-title {
    font-size: 35px;
    line-height: 40px;
  }
  .section-uptitle {
    font-size: 12px;
    line-height: 20px;
  }
  .hero {
    &__title {
      font-size: 45px;
      line-height: 60px;
    }
    &__image {
      position: relative;
      padding: 0;
      &::before {
        width: 50px;
        height: 50px;
        top: 36%;
        left: 5%;
      }
      &::after {
        width: 150px;
        height: 150px;
        bottom: 10%;
        right: -13%;
      }
    }
  }
  .solution {
    padding: 75px 0;
    position: relative;
    &::before {
      width: 50px;
      height: 50px;
      left: 39%;
    }
    &__title {
      line-height: 40px;
      margin: 0 auto 30px;
    }
    &__text {
      max-width: 90%;
      text-align: center;
      margin: 0 auto 50px;
    }
    &__image {
      margin-bottom: 40px;
      position: relative;
      &::before {
        width: 50px;
        height: 50px;
        top: 5%;
        left: -3%;
      }
      &::after {
        width: 100px;
        height: 100px;
        bottom: -11%;
        right: -2%;
      }
    }
    &__img {
      height: 300px;
    }
  }
  .feedback {
    &__information {
      margin-bottom: 30px;
      text-align: center;
    }
    &__title {
      text-align: center;
      margin: 0 auto 40px;
    }
    &__text {
      text-align: center;
      margin: 0 auto 15px;
    }
    &__card {
      text-align: center;
    }
    &__card-img {
      margin: 0 auto 20px;
    }
    &__card-text {
      max-width: 195px;
      margin: 0 auto;
    }
    &__contact {
      max-width: 100%;
    }
  }
  .questions {
    padding: 100px 0 30px;
    &__image {
      position: relative;
      padding: 0;
      &:before {
        left: 12%;
        bottom: 0%;
      }
    }
    &__img {
      margin: 0 auto;
    }
    &__information {
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
    &__title {
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 50px;
    }
    &__accordion-text {
      text-align: left;
    }
  }
}
@include media-breakpoint-down(md) {
  .menu {
    position: absolute;
    padding-top: 40px;
    max-height: 100vh;
    height: auto;
    top: 62px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateY(-300%);
    transition-duration: 0.4s;
    transition-timing-function: ease;
    z-index: 20;
    &__list {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    &__list-item {
      align-items: flex-start;
      padding: 25px 0;
      margin-left: 0;
      &:first-child {
        margin-left: 0px;
      }
    }
    &__list-link {
      font-size: 20px;
      line-height: 22px;
    }
    &--active {
      transform: translateY(0);
      overflow-y: scroll;
    }
  }
  .header {
    &__button {
      margin: 20px 0;
    }
  }
  .hero {
    &__title {
      text-align: center;
      font-size: 40px;
      line-height: 50px;
      margin: 0 auto 30px;
    }
    &__text {
      line-height: 20px;
      text-align: center;
      margin: 0 auto 15px;
    }
    &__image {
      margin-bottom: 20px;
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  .solution {
    padding: 50px 0;
    &::before {
      display: none;
    }
    &__image {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__img {
      height: 200px;
    }
  }
  .feedback {
    padding: 30px 0;
    &__card-text {
      max-width: 100%;
    }
    &__contact {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
    &__contact-form {
      padding: 30px 20px;
    }
    &__form-name {
      padding: 0;
    }
    &__form-email {
      padding: 0;
    }
  }
  .questions {
    padding: 50px 0 30px;
    &__image {
      &:before {
        width: 50px;
        height: 50px;
        left: 15%;
        bottom: 10%;
      }
    }
    &__img {
      width: 400px;
      height: 450px;
    }
    &__accordion-button {
      padding: 20px 55px 20px 20px;
    }
    &__accordion-body {
      padding: 0 20px 15px 20px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .section-title {
    font-size: 30px;
    line-height: 35px;
  }
  .hero {
    &__title {
      font-size: 35px;
      line-height: 40px;
      margin: 0 auto 20px;
    }
    &__text {
      width: 90%;
      margin: 0 auto 10px;
    }
    &__author {
      margin-bottom: 20px;
    }
    &__img {
      width: 250px;
      height: 300px;
    }
  }
  .solution {
    padding: 50px 0 20px;
    &__title {
      margin: 0 auto 20px;
    }
    &__text {
      margin: 0 auto 20px;
    }
    &__image {
      margin-bottom: 20px;
    }
    &__img {
      height: 150px;
    }
  }
  .feedback {
    padding: 20px 0;
    &__title {
      width: 90%;
      margin: 0 auto 20px;
    }
    &__text {
      width: 90%;
    }
    &__cards {
      margin-bottom: 20px;
    }
    &__contact-title {
      margin: 0 auto 20px;
    }
    &__contact-img {
      width: 80%;
      height: 150px;
    }
    &__contact-form {
      padding: 20px 10px;
    }
  }
  .questions {
    padding: 20px 0;
    &__image {
      &:before {
        display: none;
      }
    }
    &__img {
      width: 300px;
      height: 350px;
    }
    &__information {
      max-width: 90%;
    }
    &__title {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 15px;
    }
    &__accordion-button {
      padding: 15px 60px 15px 30px;
      &::before {
        right: 30px;
      }
      &:after {
        right: 30px;
      }
    }
  }
}
