.solution {
  padding: 100px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url("../images/solution-decor-1.svg") no-repeat;
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    top: 0;
    left: 41%;
  }
  &__wrapper {
    margin: 0;
  }
  &__uptitle {
    font-size: 11px;
    margin-bottom: 4px;
  }
  &__title {
    line-height: 48px;
    text-align: center;
    margin: 0 auto 39px;
  }
  &__text {
    max-width: 700px;
    font-size: 16px;
    margin: 0 auto 77px;
  }
  &__image {
    margin-bottom: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url("../images/solution-decor-2.svg") no-repeat;
      background-position: center;
      background-size: cover;
      width: 100px;
      height: 100px;
      top: 5%;
      left: -10%;
    }
    &::after {
      content: "";
      position: absolute;
      background: url("../images/solution-decor-3.svg") no-repeat;
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 200px;
      bottom: -30%;
      right: -3%;
    }
  }
  &__img {
    max-width: 100%;
    object-fit: contain;
  }
  &__link {
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
      color: #000;
    }
    &:active {
      color: #0057ff;
    }
  }
}
